section#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
  }
  
  .contact-list li {
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .contact-list a {
    color: var(--color-7); /* color de tu paleta */
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .contact-list a:hover {
    text-decoration: underline;
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    .contact-list {
      text-align: center;
    }
  
    .contact-list li {
      font-size: 0.9rem;
    }
  }