* {
  box-sizing: border-box;
}
.theme-switch {
  position: fixed;
  top: 16px;
  right: 16px;

  width: 52px;
  height: 26px;

  background: var(--navbar-bg);
  border: 1px solid var(--navbar-border);
  border-radius: 50px;

  display: flex;
  align-items: center;

  padding: 3px;

  cursor: pointer;
  z-index: 9999;

  transition: all 0.3s ease;
}

.switch-thumb {
  width: 20px;
  height: 20px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease, background 0.3s ease;
  background: white;
}
.switch-thumb.dark {
  transform: translateX(0);
}

.switch-thumb.light {
  transform: translateX(26px);
}
.icon {
  font-size: 12px;
}
.moon {
  color: #c77dff; /* morado */
}.sun {
  color: #3f8cff; /* azul */
}

:root {
  /* DARK MODE */
  --color-1: #10002b;
  --color-2: #240046;
  --color-3: #3c096c;
  --color-4: #5a189a;
  --color-5: #7b2cbf;
  --color-6: #9d4edd;
  --color-7: #c77dff;
  --color-8: #e0aaff;

  --text-color: #f1f1f1;
  --text-soft: #ddd;
  --section-bg: rgba(224, 170, 255, 0.08);
  --btn-bg: #e0aaff;
  --btn-hover: #f1f1f1;

  --navbar-bg: rgba(0, 0, 0, 0.35);
  --navbar-border: rgba(255, 255, 255, 0.1);

  --link: #c77dff;
  --link-hover: #e0aaff;
}

body.light {
  --color-1: #f8f9ff;
  --color-2: #eef1ff;
  --color-3: #e3e8ff;
  --color-4: #cdd6ff;
  --color-5: #b3c0ff;
  --color-6: #9aa8ff;
  --color-7: #7f8cff;
  --color-8: #5a6bff;

  --text-color: #1a1a1a;
  --text-soft: #333;
  --navbar-bg: rgba(90, 107, 255, 0.12);
  --navbar-border: rgba(90, 107, 255, 0.25);
   --link: #3f4fd6;
  --link-hover: #1f2aa5;
  --section-bg: rgba(90, 107, 255, 0.08);
  --btn-bg: #5a6bff;
  --btn-hover: #3f4fd6;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);

  background: radial-gradient(circle at 85% 40%,
      var(--color-7) 0%,
      var(--color-5) 30%,
      var(--color-3) 60%,
      var(--color-1) 100%);
  min-height: 100vh;

  transition: all 0.3s ease;
}

/* TIPOGRAFÍA */
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 30px;
}


p {
  color: var(--text-soft);
  line-height: 1.7;
}

/* SECCIONES */
section {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  padding: 60px 40px;

  background: linear-gradient(
    135deg,
    var(--section-bg),
    rgba(255,255,255,0.02)
  );

  backdrop-filter: blur(12px);

  border-radius: 20px;

  /* 🔥 sombra más suave */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.section-with-avatar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 80px auto;

  /* fondo suave opcional */
  background: rgba(224, 170, 255, 0.08);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Secciones donde tengo avatar*/
.section-avatar {
  animation: fadeInRight 1s ease forwards;
  flex: 0 0 auto;
}

.section-avatar img {
  width: 180px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .section-with-avatar {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .section-avatar img {
    width: 80px;

  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.95rem;
  }
}

.section-text {
  flex: 1;
}
/* Botones */
.btn{
  background-color: var(--btn-bg);
  border-radius: 20px;
  padding: 12px 20px;
  border-radius: 14px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  border: 1px solid transparent;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  transition: all 0.25s ease;
}
.btn:hover {
  background: var(--btn-hover);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* ESTADO INICIAL (oculto) */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

/* CUANDO SE ACTIVA */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}